* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #fdfdfd, #868886, #585650, #0a0a09);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main-nav {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.main-nav ul {
    display: flex;
    justify-content:center;
    gap: 2rem;
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #6b6657;
}
.main-nav > ul > li.active > a{  /* this is new, what this does is access the first List and Color the text */
    color: #6b6657;
}

@media (max-width: 600px) {
   .main-nav ul li a{
        display: none;
    }
    
}
.pagination{
    display: none;
}
@media (max-width: 600px) {
    .pagination{
        display: block;
        text-align: center;
       
    }
    .pagination a{
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.1);
        padding: 1rem 2rem;
        border-radius: 15px;
        margin-bottom: 2rem;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        color: white;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;
    } 
     
}
.section-title {
    text-align: center;
    color: white;
}

.certificates-section {
    padding: 4rem 2rem;
}

.certificates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.certificate-card {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.certificate-card:hover {
    transform: translateY(-5px);
}

.certificate-preview {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.cert-thumbnail {
    width: 100%;
    height: 100%;
    object-fit:contain;
    transition: transform 0.3s ease;
}
 
.cert-thumbnail:hover {
    transform: scale(1.03);
    cursor: zoom-in;
}
 
@media (max-width: 768px) {
    .cert-thumbnail {
        padding: 5px;
    }
}

.certificate-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: linear-gradient(transparent, rgba(0,0,0,0.7));
}

.certificate-info {
    padding: 1.5rem;
    color: white;
}

 